/* 
- Spacing System 
    4 / 8 / 12 / 16 / 20 / 24 / 28 / 32 / 36 / 40 / 44 / 48 /  

*/

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --ff-base: "Outfit", san-serif;

  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* default browser font-size is 16px. if 1rem = 10px, then 10px of 16px is 10/16 = 62.5% */
  font-size: 62.5%;
  font-family: var(--ff-base);
}

body {
  background-color: var(--light-gray);
}

.container {
  min-height: 95vh;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 1.6rem;
}

.qr-component-card {
  max-width: 30rem;
  height: 100%;
  padding: 1.6rem;
  background-color: var(--white);
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  box-shadow: inset;
  gap: 0.8rem;
}

img {
  width: 100%;
  border-radius: 8px;
}

.content {
  padding: 1rem 1.2rem;
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.description {
  font-size: 1.4rem;
  color: var(--grayish-blue);
}
